<link rel="stylesheet" href="View/specialty/specialty.css"/>
<div class="specialty-register">
    <div class="card fast-acess bg-light">
        <h4 class="card-header">Cadastro de Especialidade
            <a href="#" title="Minimizar"><i class="fas fa-window-minimize"></i></a>
        </h4>
        <form class="specialty-form">
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control input Especialidade" type="text"
                           placeholder="Especialidade" name="Especialidade">
                </div>
                <div class="buttons col-md-12" style="text-align:right;">
                    <input type="button" class="btn btn-cancel" value="Cancelar">
                    <input type="button" class="btn btn-save" value="Cadastrar">
                </div>
            </div>
        </form>
    </div>
</div>