<link rel="stylesheet" href="View/specialty/specialty.css"/>

<title>Especialidade</title>

<div class="specialty-register">
    <div class="card fast-acess bg-light">
        <h4 class="card-header">Cadastro de Especialidade
            <a title="Minimizar"><i ng-class="{'fas fa-plus':!showAccess, 'fas fa-window-minimize':showAccess}"
                                    ng-init="showAccess = true" ng-click="showAccess = !showAccess"
                                    class="fas fa-window-minimize"></i></a>
        </h4>
        <form ng-show="showAccess" name="formSpeciality"
              class="specialty-form">
            <div class="row">

                <div class="col-md-4">
                    <label ng-if="formSpeciality.speciality.$valid">Especialidade</label>
                    <input class="form-control input"  name="speciality" placeholder="Especialidade"
                           ng-class="{'invalid':formSpeciality.speciality.$invalid && formSpeciality.speciality.$touched}" ng-model="specialityCtrl.speciality" required>
                </div>
                <div class="buttons col-md-12">
                    <input type="button" class="btn btn-cancel" ng-click="specialityCtrl.closeModal();" value="Cancelar">
                    <input type="button" class="btn btn-save" ng-click="specialityCtrl.validateSpeciality();" value="Cadastrar">
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Código</th>
        <th scope="col">Especialidade</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Dentista</td>
        <td class="icons">
            <a class="btn btn-sm button-edit " ng-click="specialityCtrl.openModal('lg');" ><i class="fas fa-pencil-alt"></i></a>
            <a class="btn btn-sm button-trash"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Cirurgião</td>
        <td class="icons">
            <a class="btn btn-sm button-edit"><i class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-sm button-trash"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Pediatra</td>
        <td class="icons">
            <a class="btn btn-sm button-edit"><i class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-sm button-trash"> <i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    </tbody>
</table>