.specialty-register {
    float: right;
    margin-right: 2%;
    width: 99.7%;
}

.fast-acess {
    margin-left: 22%;
    margin-top: 2%;
    margin-right: 1.5%;
}

.specialty-form {
    padding: 30px !important;
}

.card-header {
    background-color: #1E3B2F;
    color: #85793C;
}

.buttons {
    margin-top: 20px;
}

.btn-cancel {
    background: #85793C;
    color: white;
}

.btn-save {
    background: #1E3B2F;
    color: white;
}

.btn-cancel:hover {
    background: #695f2f;
}

.btn-save:hover {
    background: #162b22;
}

.fa-window-minimize {
    float: right;
    color: #bdbdbd;
    text-decoration: none;
    font-size: 16px;
    margin-top: 2px;
}

.fa-window-minimize:hover {
    float: right;
    color: #a1a1a1;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 2px;
}

a {
    color: inherit;
}