<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="View/login/login.css"/>
</head>
<body>
<div class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Entrar</h2>
                <form class="login-form" name="formLogin">
                    <div class="form-group">
                        <label class="text-uppercase">Nome de Usuário</label>
                        <input type="text" class="form-control" ng-model="loginCtrl.userName"
                               ng-class="{'invalid': formLogin.userName.$invalid && formLogin.userName.$touched}"
                               focus="true"
                               placeholder="Nome de Usuário"
                               name="userName" required>
                    </div>

                    <div class="fo  rm-group">
                        <label class="text-uppercase">Senha</label>
                        <input type="password" class="form-control" ng-model="loginCtrl.password" placeholder="Senha"
                               ng-class="{'invalid': formLogin.password.$invalid && formLogin.password.$touched}"
                               name="password" required>
                    </div>
                    <div class="form-check">
                        <button type="submit" class="btn btn-login float-right" ng-click="loginCtrl.validateLogin();">
                            Entrar
                        </button>

                        <button type="button" class="btn btn-login float-right btnParticipation">Quero Participar
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="assets/images/background-login.jpg" alt="First slide">
                            <div class="banner-text">
                                <h2>Projeto ReSOMAR</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>