<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet" href="../../assets/css/bootstrap-3.3.0.css"/>

<link rel="stylesheet" href="../../assets/css/fontawesome.css"/>
<link rel="stylesheet" href="home.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

<script type="text/javascript" src="../../assets/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="../../assets/js/popper.js"></script>
<script type="text/javascript" src="../../assets/js/inicio.js"></script>
<script type="text/javascript" src="../../assets/js/bootstrap-3.3.0.js"></script>
<script type="text/javascript" src="../../assets/js/chart.js"></script>
<script type="text/javascript" src="../../assets/js/grafico.js"></script>

</head>
<body>
<div id="wrapper">
  <div class="overlay"></div>
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li class="sidebar-brand">
        <a id="title" href="#">
          Projeto ReSOMAR
        </a>
      </li>
      <li>
        <a href="#" title="Início"><i class="fas fa-home"></i> <span class="tooltiptext"><span class="text">Início</span></span></a>
      </li>
      <li><a data-toggle="collapse" data-target="#submenu1" title="Cadastros" aria-expanded="false" href="#"><i class="fas fa-plus-square"></i><span class="text"> Cadastros</span>  <i class="fas fa-chevron-down"></i></a>
        <ul class="nav collapse" id="submenu1" role="menu">
          <li class="option" title="Cadastrar Clínicas"><a href="#"><i class="fas fa-hospital"></i><span class="text"> Clínicas</span></a></li>
          <li class="option" title="Cadastrar Instituições"><a href="#"><i class="fas fa-building"></i><span class="text"> Instituições</span></a></li>
          <li class="option" title="Cadastrar Especialidades"><a href="#"><i class="fas fa-graduation-cap"></i><span class="textEspec"> Especialidades</span></a></li>
          <li class="option" title="Cadastrar Médicos"><a href="#"><i class="fas fa-user-md"></i><span class="text"> Médicos</span></a></li>
          <li class="option" title="Cadastrar Necessidades"><a href="#"><i class="fas fa-hand-holding-heart"></i><span class="textNec"> Necessidades</span></a></li>
          <li class="option" title="Cadastrar Pacientes"><a href="#"><i class="fas fa-user"></i><span class="text"> Pacientes</span></a></li>
          <li class="option" title="Cadastrar Doações"><a href="#"><i class="fas fa-donate"></i><span class="textDoa"> Doações</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#" title="Vouchers"><i class="fas fa-ticket-alt" ></i><span class="textVou"> Voucher</span></a>
      </li>
      <li>
        <a href="#" title="Relatórios"><i class="fas fa-paste"></i><span class="text"> Relatórios</span></a>
      </li>
      <li>
        <a href="#" title="Configurações"><i class="fas fa-cog"></i><span class="textConf"> Configurações</span></a>
      </li>
    </ul>
  </nav>
  <div id="page-content-wrapper">
    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-ticket-alt" ></i> Vouchers <span class="quantity">37</span></h5>
          <hr/>
          <i class="fas fa-plus-circle"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-user-md"></i> Médicos Disponíveis <span class="quantity">10</span></h5>
          <hr/>
          <i class="fas fa-plus-circle"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-hand-holding-heart"></i> Necessidades <span class="quantity">23</span></h5>
          <hr/>
          <i class="fas fa-plus-circle"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-donate"></i> Doações <span class="quantity">36</span></h5>
          <hr/>
          <i class="fas fa-plus-circle"></i>
        </div>
      </div>
    </div>
  </div>
  <canvas id="myDoughnutChart"></canvas>
</div>
</body>
</html>