<link rel="stylesheet" href="View/home/home.css"/>

<div class="dashboard">
    <div class="fast-acess bg-light" style="max-width: 73rem;">
        <h4 class="card-header">Acesso Rápido
        </h4>
        <div class="card-access row" ng-class="slide-down">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <span>Clínicas</span><i class="fas fa-hospital icon-dash"></i>
                        <hr>
                        <span class="quantity">10</span>
                        <a style="text-decoration:none;" href="#/clinica" title="Cadastrar Clínicas"
                           class="fa fa-plus-circle"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <div class="card">
                    <div class="card-body">
                        <span>Doações</span><i class="fas fa-donate icon-dash"></i>
                        <hr>
                        <span class="quantity">10</span>
                        <a style="text-decoration:none;" href="#/doacao" title="Cadastrar Doações"
                           class="fa fa-plus-circle"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <div class="card">
                    <div class="card-body">
                        <span>Especialidades</span><i class="fas fa-graduation-cap icon-dash"></i>
                        <hr>
                        <span class="quantity">10</span>
                        <a style="text-decoration:none;" href="#/especialidade" title="Cadastrar Especialidades"
                           class="fa fa-plus-circle"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <div class="card">
                    <div class="card-body">
                        <span>Instituições</span><i class="fas fa-building icon-dash"></i>
                        <hr>
                        <span class="quantity">10</span>
                        <a style="text-decoration:none;" href="#/ong" title="Cadastrar ONG"
                           class="fa fa-plus-circle"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <div class="card">
                    <div class="card-body">
                        <span>Médicos</span><i class="fas fa-user-md icon-dash"></i>
                        <hr>
                        <span class="quantity">10</span>
                        <a style="text-decoration:none;" href="#/especialista" title="Cadastrar Médicos"
                           class="fa fa-plus-circle"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <div class="card">
                    <div class="card-body">
                        <span>Necessidades</span> <i class="fas fa-hands icon-dash"></i>
                        <hr>
                        <span class="quantity">10</span>
                        <a style="text-decoration:none;" href="#/necessidade" title="Cadastrar Necessidades"
                           class="fa fa-plus-circle"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
