<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="../home/home.css" />
<link rel="stylesheet" href="../login/login.css" />

<link rel="stylesheet" href="../../templates/menu/menu.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
	crossorigin="anonymous">

<script type="text/javascript" src="../../assets/js/angular.js"></script>
<script type="text/javascript" src="../../assets/js/angular-route.js"></script>
<script type="text/javascript" src="../../assets/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../../assets/js/fontawesome.min.js"></script>
<script type="text/javascript" src="../../assets/js/popper.js"></script>
<script type="text/javascript" src="../../assets/js/inicio.js"></script>
<script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../modulos/app.js"></script>

</head>
<body>
	<ng-include src="'../../templates/menu/menu.html'"></ng-include>

	<div ng-view></div>
</body>
</html>