.user-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #1E3B2F;
}

.user-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #85793C;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}

.user-sec {
    padding: 50px 30px;
    position: relative;
    color: #1E3B2F !important;
}

.user-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}

.user-sec .copy-text i {
    color: #FEB58A;
}

.user-sec .copy-text a {
    color: #E36262;
}

.user-block {
    float: left;
    width: 100%;
    padding: 8% 0;
}

.container {
    background: #fff;
    border-radius: 10px;
}

div.col-md-8.banner-sec {
    padding-right: 0 !important;
}


.btnParticipation {
    margin-right: 10px;
    background: #85793C !important;
}

body {
    background: linear-gradient(to bottom, #1E3B2F, #85793C) !important;
    background-repeat: no-repeat !important;
    height: 753px !important;
}

.d-block {
    width: 110% !important;
}

.invalid {
    border-color: red;
}

.banner-text {
    position: absolute;
    bottom: 65px;
    padding-left: 345px;
}

.banner-text h2 {
    color: white;
    font-weight: 600;
}

.banner-text h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #85793C;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
}

.banner-text p {
    color: white;
}

.banner-sec {
    background-size: cover;
    border-radius: 0 10px 10px 0;
    padding: 0;
}

.vertical-line {
    height: 227px;
    border-left: 2px solid;
    position: relative;
    float: right;
    bottom: 272px;
}

.btn-cancel {
    background: #85793C;
    color: white;
}

.btn-save {
    background: #1E3B2F;
    color: white;
}

.btn-cancel:hover {
    background: #695f2f;
}

.btn-save:hover {
    background: #162b22;
}

.radio-set {
    margin-left: 2px !important;
}

.form-group {
    position: relative !important;
    margin-bottom: 1.5rem !important;
}

.form-control-placeholder {
    position: absolute !important;
    top: 0 !important;
    padding: 7px 0 0 13px !important;
    transition: all 200ms !important;
    opacity: 0.5 !important;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 100% !important;
    transform: translate3d(0, -100%, 0) !important;
    opacity: 1 !important;
}

.login-block {
    margin-top: 8%;
}

.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #1E3B2F;
    margin-top: 3%;
}

.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #85793C;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}

.buttons {
    margin-top: 20px !important;
}

.btn-cancel {
    margin-right: 5px;
}