<link rel="stylesheet" href="View/ong/ong.css"/>
<div class="institution-register">
    <div class="card fast-acess bg-light">
        <h4 class="card-header">Cadastro de ONG
            <a title="Minimizar"><i ng-class="{'fas fa-window-minimize': !changeIcon, 'fas fa-plus': changeIcon}"
                                    ng-init="changeIcon = true" ng-click="changeIcon = !changeIcon"
                                    class="fas fa-plus"></i></a>
        </h4>
        <form class="institution-form" ng-show="changeIcon" name="formOng">
            <div class="row">
                <div class="form-group col-sm-6 col-lg-6 col-xl-6 col-md-6">
                    <input type="text" id="ongName" class="form-control" ng-model="ongCtrl.newOng.ongName"
                           ng-class="{'invalid': formOng.ongName.$invalid && formOng.ongName.$touched}"
                           name="ongName" required>
                    <label class="form-control-placeholder" for="ongName">ONG</label>
                </div>
                <div class="form-group col-sm-6 col-lg-6 col-xl-6 col-md-6">
                    <input type="text" id="cnpjOng" class="form-control" ng-model="ongCtrl.newOng.cnpjOng"
                           ng-class="{'invalid': formOng.cnpjOng.$invalid && formOng.cnpjOng.$touched}"
                           name="cnpjOng" required>
                    <label class="form-control-placeholder" for="cnpjOng">CNPJ</label>
                </div>
                <label class="col-sm-12 col-lg-12 col-xl-12 col-md-12">
                    <select id="estadoONG" name="estadoONG" class="form-control">
                        <option>Estado</option>
                        <option>SC</option>
                        <option>PR</option>
                    </select>
                </label>
                <label class="col-sm-12 col-lg-12 col-xl-12 col-md-12">
                    <select id="cidadeONG" name="cidadeONG" class="form-control" >
                        <option>Cidade</option>
                        <option>Joinville</option>
                        <option>Blumenau</option>
                    </select>
                </label>
                <div class="form-group col-sm-12 col-lg-12 col-xl-12 col-md-12">
                    <textarea type="text" id="aboutOng" class="form-control textarea" ng-model="ongCtrl.aboutOng"
                              name="aboutOng" required="false"></textarea>
                    <label class="form-control-placeholder-textarea" for="aboutOng">Descrição brévia das instituição</label>
                </div>
                <label class="col-sm-12 col-lg-12 col-xl-12 col-md-12">Categorias:</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Cidadania e Defesa de Direitos</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Esporte e Lazer</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Infância</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Saúde e Nutrição</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Mobilidade e Intervenção Urbana</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Trabalho com a Comunidade</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Comunicação e Tecnologia</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Terceira Idade</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Proteção aos Animais</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Educação, Arte e Cultura</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value=""> Meio
                    Ambiente</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Juventude</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Mobilização Interna</label>
                <div class="buttons col-md-12" style="text-align: right">
                    <button type="button" class="btn btn-cancel">Cancelar</button>
                    <button type="button" class="btn btn-save" ng-click="ongCtrl.validateOngForm();">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">CNPJ</th>
        <th scope="col">Localização</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Associação de Amigos Crianças do Lar Abdon Batista</td>
        <td>99.999.999/9999-99</td>
        <td>Joinville/SC</td>
        <td class="icons">
            <a class="btn btn-sm button-edit " ng-click="ongCtrl.openModal('lg');"><i
                    class="fas fa-pencil-alt"></i></a>
            <a class="btn btn-sm button-trash"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    </tbody>
</table>