<link rel="stylesheet" href="View/ong/ong.css"/>
<div class="institution-register">
    <div class="card fast-acess bg-light">
        <h4 class="card-header">Cadastro de ONG
            <a title="Minimizar"><i ng-class="{'fas fa-window-minimize': !changeIcon, 'fas fa-plus': changeIcon}"
                                    ng-init="changeIcon = true" ng-click="changeIcon = !changeIcon"
                                    class="fas fa-plus"></i></a>
        </h4>
        <form class="institution-form" ng-show="!changeIcon" name="formOng">
            <div class="row">
                <div class="form-group col-sm-5 col-lg-5 col-xl-5 col-md-5">
                    <input type="text" id="ongName" class="form-control" ng-model="ongCtrl.newOng.ongName"
                           ng-class="{'invalid': formOng.ongName.$invalid && formOng.ongName.$touched}"
                           name="ongName" required>
                    <label class="form-control-placeholder" for="ongName">ONG</label>
                </div>
                <div class="form-group col-sm-3 col-lg-3 col-xl-3 col-md-3">
                    <input type="text" id="cnpjOng" class="form-control" ng-model="ongCtrl.newOng.cnpjOng"
                           ng-class="{'invalid': formOng.cnpjOng.$invalid && formOng.cnpjOng.$touched}"
                           name="cnpjOng" required>
                    <label class="form-control-placeholder" for="cnpjOng">CNPJ</label>
                </div>

                <label class="col-sm-1 col-lg-1 col-xl-1 col-md-1">
                    <select id="estadoONG" name="estadoONG" class="form-control">
                        <option>UF</option>
                        <option>SC</option>
                        <option>PR</option>
                    </select>
                </label>
                <label class="col-sm-3 col-lg-3 col-xl-3 col-md-3">
                    <select id="cidadeONG" name="cidadeONG" class="form-control">
                        <option>Cidade</option>
                        <option>Joinville</option>
                        <option>Blumenau</option>
                    </select>
                </label>
                <div class="form-group col-sm-12 col-lg-12 col-xl-12 col-md-12">
                     <input type="text" id="description" name="description" class="form-control"
                               ng-model="ongCtrl.newOng.description"
                               name="description" required="false">
                    <label class="form-control-placeholder" for="description">Descrição brévia da instituição</label>
                </div>
                <div class="buttons col-md-12" style="text-align: right">
                    <button type="button" class="btn btn-save" ng-click="ongCtrl.validateOngForm();">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">CNPJ</th>
        <th scope="col">Localização</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Associação de Amigos Crianças do Lar Abdon Batista</td>
        <td>99.999.999/9999-99</td>
        <td>Joinville/SC</td>
        <td class="icons">
            <a class="btn btn-sm button-edit " ng-click="ongCtrl.openModal('lg');"><i
                    class="fas fa-pencil-alt"></i></a>
            <a class="btn btn-sm button-trash"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    </tbody>
</table>