<link rel="stylesheet" href="View/ong/ong.css"/>
<div class="institution-register">
    <div class="card fast-acess bg-light">
        <h4 class="card-header">Cadastro de ONG
            <a title="Minimizar"><i ng-class="{'fas fa-window-minimize': !changeIcon, 'fas fa-plus': changeIcon}" ng-init="changeIcon = true" ng-click="changeIcon = !changeIcon" class="fas fa-plus"></i></a>
        </h4>
        <form class="institution-form" ng-show="changeIcon">
            <div class="row">
                <label class="col-sm-12 col-lg-12 col-xl-12 col-md-12">
                    <input type="text" id="nomeONG" name="nomeONG" class="form-control"
                           placeholder="Nome da Instituição">
                </label>
                <label class="col-sm-12 col-lg-12 col-xl-12 col-md-12">
                    <textarea id="sobreONG" name="sobreONG" class="form-control"
                              placeholder="Descreva aqui a missão e as principais atividades desenvolvidas pela instituição"></textarea>
                </label>
                <label class="col-sm-12 col-lg-12 col-xl-12 col-md-12">
                    <input id="CNPJONG" name="CNPJONG" class="form-control" placeholder="CNPJ">
                </label>
                <label class="col-sm-12 col-lg-12 col-xl-12 col-md-12">Localização:</label>
                <label class="radio-inline col-sm-2 col-lg-2 col-xl-2 col-md-2"><input type="radio" name="optradio"
                                                                                       checked> Indefinido
                </label>
                <label class="radio-inline col-sm-2 col-lg-2 col-xl-2 col-md-2"><input type="radio" name="optradio"
                                                                                       checked> Especificar
                </label>
                <label class="col-sm-12 col-lg-12 col-xl-12 col-md-12">
                    <select id="estadoONG" name="estadoONG" class="form-control">
                        <option>Estado</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </label>
                <label class="col-sm-12 col-lg-12 col-xl-12 col-md-12">
                    <select id="cidadeONG" name="cidadeONG" class="form-control">
                        <option>Cidade</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </label>
                <label class="col-sm-12 col-lg-12 col-xl-12 col-md-12">Categorias:</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Cidadania e Defesa de Direitos</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Esporte e Lazer</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Infância</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Saúde e Nutrição</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Mobilidade e Intervenção Urbana</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Trabalho com a Comunidade</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Comunicação e Tecnologia</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Terceira Idade</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Proteção aos Animais</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Educação, Arte e Cultura</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value=""> Meio
                    Ambiente</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Juventude</label>
                <label class="checkbox-inline col-sm-4 col-lg-4 col-xl-4 col-md-4"><input type="checkbox" value="">
                    Mobilização Interna</label>
                <div class="buttons col-md-12" style="text-align: right">
                    <button type="button" class="btn btn-cancel">Cancelar</button>
                    <button type="button" class="btn btn-save">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">CNPJ</th>
        <th scope="col">Localização</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Associação de Amigos Crianças do Lar Abdon Batista</td>
        <td>99.999.999/9999-99</td>
        <td>Joinville/SC</td>
        <td class="icons">
            <a class="btn btn-sm button-edit " ng-click="specialityCtrl.openModal('lg');" ><i class="fas fa-pencil-alt"></i></a>
            <a class="btn btn-sm button-trash"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    </tbody>
</table>