.clinic-register {
    float: right;
    margin-right: 2%;
    width: 99.7%;
}

.fa-window-minimize, .fa-plus {
    cursor: pointer;
}

.clinic-form {
    padding: 30px !important;
}

.card-header {
    background-color: #1E3B2F;
    color: #85793C;
}
