.clinic-register {
    float: right;
    margin-top: 30px;
    width: 76.2%;
    margin-right: 3.5%;
}

.fa-window-minimize, .fa-plus {
    cursor: pointer;
}

.clinic-form {
    padding: 30px !important;
}

.card-header {
    background-color: #1E3B2F;
    color: #85793C;
}

.buttons {
    margin-top: 20px;
}

.btn-cancel {
    background: #85793C;
    color: white;
}

.btn-save {
    background: #1E3B2F;
    color: white;
}

.btn-cancel:hover {
    background: #695f2f;
}

.btn-save:hover {
    background: #162b22;
}

.fa-window-minimize {
    float: right;
    color: #bdbdbd;
    text-decoration: none;
    font-size: 16px;
    margin-top: 2px;
}
.fa-plus {
    float: right;
    color: #bdbdbd;
    text-decoration: none;
    font-size: 16px;
    margin-top: 7px;
}

.fa-window-minimize:hover {
    float: right;
    color: #a1a1a1;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 2px;
}

.fa-plus:hover {
    float: right;
    color: #a1a1a1;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 7px;
}

a {
    color: inherit;
}



