<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Convidado</title>
    <link rel="stylesheet" href="View/guest/guest.css"/>
</head>
<body>
<div class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Cadastro de Convidado</h2>
                <form id="user-form" class="user-form" name="formUserRegister">
                    <div class="form-group col-sm-12 col-lg-12 col-xl-12 col-md-12">
                        <input type="text" id="name" class="form-control" ng-model="guestCtrl.name"
                               ng-class="{'invalid': formUserRegister.name.$invalid && formUserRegister.name.$touched}"
                               name="name" required>
                        <label class="form-control-placeholder" for="name">Nome</label>
                    </div>
                    <div class="form-group col-sm-12 col-lg-12 col-xl-12 col-md-12">
                        <input type="text" id="lastName" class="form-control" ng-model="guestCtrl.lastName"
                               ng-class="{'invalid': formUserRegister.lastName.$invalid && formUserRegister.lastName.$touched}"
                               name="lastName" required>
                        <label class="form-control-placeholder" for="lastName">Sobrenome</label>
                    </div>
                    <div class="form-group col-sm-12 col-lg-12 col-xl-12 col-md-12">
                        <input type="telephone" id="telephone" class="form-control" ng-model="guestCtrl.telephone"
                               ng-class="{'invalid': formUserRegister.telephone.$invalid && formUserRegister.telephone.$touched}"
                               name="telephone" required>
                        <label class="form-control-placeholder" for="telephone">Telefone</label>
                    </div>
                    <div class="form-group col-sm-12 col-lg-12 col-xl-12 col-md-12">
                        <input type="email" id="email" class="form-control" ng-model="guestCtrl.email"
                               ng-class="{'invalid': formUserRegister.email.$invalid && formUserRegister.email.$touched}"
                               name="email" required>
                        <label class="form-control-placeholder" for="email">Email</label>
                    </div>
                    <div class="form-group col-sm-12 col-lg-12 col-xl-12 col-md-12">
                        <input type="password" id="password" class="form-control" ng-model="guestCtrl.password"
                               ng-class="{'invalid': formUserRegister.password.$invalid && formUserRegister.password.$touched}"
                               name="password" required>
                        <label class="form-control-placeholder" for="password">Senha</label>
                    </div>
                    <div class="form-group col-sm-12 col-lg-12 col-xl-12 col-md-12">
                        <input type="password" id="confirmPassword" class="form-control"
                               ng-model="guestCtrl.confirmPassword"
                               ng-class="{'invalid': formUserRegister.confirmPassword.$invalid && formUserRegister.confirmPassword.$touched}"
                               name="confirmPassword" required>
                        <label class="form-control-placeholder" for="confirmPassword">Confirmar Senha</label>
                    </div>
                </form>
                <div class="buttons col-md-12" style="text-align:right; margin-top: 10px">
                    <input type="button" class="btn btn-save" ng-click="guestCtrl.validateRegister();"
                           value="Cadastrar">
                </div>

            </div>
            <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="assets/images/background-login.jpg" alt="First slide">
                            <div class="banner-text">
                                <h2>Projeto ReSOMAR</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
