<link rel="stylesheet" href="View/needs/needs.css"/>
<div class="needs-register">
    <div class="card fast-acess bg-light">
        <h4 class="card-header">Cadastro de Necessidades
            <a title="Minimizar"><i ng-class="{'fas fa-window-minimize': showForm, 'fas fa-plus': !showForm}" ng-init="showForm = true" ng-click="showForm = !showForm" class="fas fa-window-minimize"></i></a>
        </h4>
        <form class="needs-form" ng-show="showForm">
            <div class="row">
                <label class="col-sm-12 col-lg-12 col-xl-12 col-md-12">
                    <select type="text" id="tipoNecessidade" name="tipoNecessidade" class="form-control">
                        <option value="Tipo">Tipo de Necessidade</option>
                        <option value="Medica">Médica</option>
                        <option value="Adocao">Adoção</option>
                        <option value="Clinica">Clínica</option>
                    </select>
                </label>
                <label id="grauNecessidade" class="col-sm-12 col-lg-12 col-xl-12 col-md-12">
                    <select type="text" id="grauNecessidade" name="grauNecessidade" class="form-control">
                        <option>Selecione o Grau da Necessidade</option>
                        <option>Baixa</option>
                        <option>Média</option>
                        <option>Alta</option>
                    </select>
                </label>
                <label class="col-sm-12 col-lg-12 col-xl-12 col-md-12">
                    <textarea type="text" id="necessidade" name="necessidade" class="form-control" placeholder="Observações"></textarea>
                </label>
                <div class="buttons col-md-12" style="text-align: right">
                    <button type="button" class="btn btn-cancel">Cancelar</button>
                    <button type="button" class="btn btn-save">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Código</th>
        <th scope="col">Tipo</th>
        <th scope="col">Grau</th>
        <th scope="col">Observação</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Médica</td>
        <td>Baixa</td>
        <td>Exame de Sangue</td>
        <td class="icons">
            <a class="btn btn-sm button-edit " ng-click="specialityCtrl.openModal('lg');" ><i class="fas fa-pencil-alt"></i></a>
            <a class="btn btn-sm button-trash"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    </tbody>
</table>