<link rel="stylesheet" href="View/patient/patient.css"/>
<div class="patient-register">
    <div class="card fast-acess bg-light">
        <h4 class="card-header">Cadastro de Paciente
            <a href="#" title="Minimizar"><i class="fas fa-window-minimize"></i></a>
        </h4>
        <form class="patient-form">
            <div class="row">
                <label class="col-md-12">
                    <input class="form-control input Identificacão" type="text"
                           placeholder="Identificacão" name="Identificacão">
                </label>
                <label class="col-md-12">
                    <input class="form-control input" type="text" placeholder="Responsável"
                           id="Responsavel" name="Responsavel">
                </label>
                <label class="col-md-3">
                    <input class="form-control input" type="text" placeholder="Idade"
                           id="Idade" name="Idade">
                </label>
                <label class="col-md-9">
                    <select class="form-control">
                        <option value="">Instituicão Responsável</option>
                        <option value="ALERGIA E IMUNOLOGIA">EXEMPLO 1</option>
                        <option value="ANESTESIOLOGIA ">EXEMPLO 2</option>
                        <option value="CARDIOLOGIA">EXEMPLO 3</option>
                    </select>
                </label>
                <div class="buttons col-md-12" style="text-align:right;">
                    <input type="button" class="btn btn-cancel" value="Cancelar">
                    <input type="button" class="btn btn-save" value="Cadastrar">
                </div>
            </div>
        </form>
    </div>
</div>