<link rel="stylesheet" href="View/donate/donate.css"/>
<div class="donate-register">
    <div class="card fast-acess bg-light">
        <h4 class="card-header">Cadastro de Doações
            <a title="Minimizar"><i ng-class="{'fas fa-window-minimize': showForm, 'fas fa-plus': !showForm}" ng-init="showForm = true" ng-click="showForm = !showForm" class="fas fa-window-minimize"></i></a>
        </h4>
        <form name="donate-form" class="donate-form" ng-show="showForm">
            <div class="row">
                <label class="col-sm-12 col-lg-12 col-xl-12 col-md-12">
                    <select ng-model="donate.type" type="text" id="donateType" name="tipoDoacao" class="form-control" >
                        <option value="Selecione">Selecione o tipo de doação</option>
                        <option value="Consultas">Consultas</option>
                        <option value="Exames">Exames</option>
                        <option value="Doacoes">Doações</option>
                    </select>
                </label>

                <label ng-class="{'hide': donate.type !== 'Consultas'}" id="quantidadeConsultas" class="col-sm-12 col-lg-12 col-xl-12 col-md-12">
                    <input  name="quantidadeConsultas" class="form-control"
                    placeholder="Qtd. Consultas">
                </label>
                <label ng-class="{'hide': donate.type !== 'Consultas'}" id="clinicaConsultas" class="col-sm-12 col-lg-12 col-xl-12 col-md-12">
                    <select  name="clinicaConsultas" class="form-control">
                        <option>Selecione a clínica responsável</option>
                        <option value="Clínica">Clínica Fantasia</option>
                    </select>
                </label>

                <label ng-class="{'hide': donate.type !== 'Exames'}"  id="quantidadeExames" class="col-sm-12 col-lg-12 col-xl-12 col-md-12">
                    <input name="quantidadeExames" class="form-control" placeholder="Qtd. Exames">
                </label>
                <label ng-class="{'hide': donate.type !== 'Exames'}"  id="complexidadeExame" class="col-sm-12 col-lg-12 col-xl-12 col-md-12">
                    <select name="complexidadeExame" class="form-control">
                        <option>Informe a complexidade</option>
                        <option>Baixa</option>
                        <option>Média</option>
                        <option>Alta</option>
                    </select>
                </label>
                <label ng-class="{'hide': donate.type !== 'Exames'}" id="clinicaExames" class="col-sm-12 col-lg-12 col-xl-12 col-md-12">
                    <select  name="clinicaExames" class="form-control">
                        <option>Selecione a clínica responsável</option>
                        <option>Clínica Fantasia</option>
                    </select>
                </label>

                <label ng-class="{'hide': donate.type !== 'Doacoes'}" id="quantidadeAdocoes" class="col-sm-12 col-lg-12 col-xl-12 col-md-12">
                    <input  name="quantidadeAdocoes" class="form-control"
                           placeholder="Qtd. Adoções">
                </label>
                <label class="col-sm-12 col-lg-12 col-xl-12 col-md-12">
                    <select ng-class="{'hide': donate.type !== 'Doacoes'}" name="clinicaAdocao" class="form-control">
                        <option>Selecione a clínica responsável</option>
                        <option>Clínica Fantasia</option>
                    </select>
                </label>
                <div class="buttons col-md-12" style="text-align: right">
                    <button type="button" class="btn btn-cancel">Cancelar</button>
                    <button type="button" class="btn btn-save">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Código</th>
        <th scope="col">Tipo</th>
        <th scope="col">Clínica</th>
        <th scope="col">Complexidade (Exames)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Consulta</td>
        <td>Clínica Volte a Sorrir</td>
        <td></td>
        <td class="icons">
            <a class="btn btn-sm button-edit " ng-click="specialityCtrl.openModal('lg');" ><i class="fas fa-pencil-alt"></i></a>
            <a class="btn btn-sm button-trash"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Exames</td>
        <td>Consultório Gimenez</td>
        <td>Baixa</td>
        <td class="icons">
            <a class="btn btn-sm button-edit"><i class="fas fa-pencil-alt"></i></a>
            <a class="btn btn-sm button-trash"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    </tbody>
</table>