<link rel="stylesheet" href="View/donate/donate.css"/>
<div class="donate-register">
    <div class="card fast-acess bg-light">
        <h4 class="card-header">Cadastro de Doações
            <a title="Minimizar"><i ng-class="{'fas fa-window-minimize': showForm, 'fas fa-plus': !showForm}" ng-init="showForm = false" ng-click="showForm = !showForm" class="fas fa-plus"></i></a>
        </h4>
        <form name="donate-form" class="donate-form" ng-show="showForm">
            <div class="row">
                <div class="col-sm-3 col-lg-3 col-xl-3 col-md-3">
                    <select ng-model="donateCtrl.newDonate.donateType" type="text" id="donateType" name="donateType" class="form-control">
                        <option value="">Selecione o tipo de doação</option>
                        <option value="consult">Consultas</option>
                        <option value="exams">Exames</option>
                        <option value="donate">Doações</option>
                    </select>
                </div>
                <label ng-class="{'hide': donateCtrl.newDonate.donateType !== 'consult'}" id="quantityConsult" class="col-sm-1 col-lg-1 col-xl-1 col-md-1">
                    <input ng-model="donateCtrl.newDonate.quantityConsult" name="quantityConsult" class="form-control"
                    placeholder="Qtd">
                </label>
                <label ng-class="{'hide': donateCtrl.newDonate.donateType !== 'consult'}" id="clinicConsult" class="col-sm-4 col-lg-4 col-xl-4 col-md-4">
                    <select ng-model="donateCtrl.newDonate.clinicConsult" name="clinicConsult" class="form-control">
                        <option value="">Selecione a clínica responsável</option>
                        <option value="clinic-one">Clínica Fantasia</option>
                    </select>
                </label>
                <label ng-class="{'hide': donateCtrl.newDonate.donateType !== 'exams'}"  id="quantityExams" class="col-sm-1 col-lg-1 col-xl-1 col-md-1">
                    <input ng-model="donateCtrl.newDonate.quantityExams" name="quantityExams" class="form-control" placeholder="Qtd">
                </label>
                <label ng-class="{'hide': donateCtrl.newDonate.donateType !== 'exams'}"  id="complexExams" class="col-sm-3 col-lg-3 col-xl-3 col-md-3">
                    <select ng-model="donateCtrl.newDonate.complexExams" name="complexExams" class="form-control">
                        <option value="">Complexidade</option>
                        <option value="low">Baixa</option>
                        <option value="medium">Média</option>
                        <option value="high">Alta</option>
                    </select>
                </label>
                <label ng-class="{'hide': donateCtrl.newDonate.donateType !== 'exams'}" class="col-sm-4 col-lg-4 col-xl-4 col-md-4">
                    <select ng-model="donateCtrl.newDonate.clinicExams"  name="clinicExams"class="form-control">
                        <option value="">Selecione a clínica responsável</option>
                        <option value="clinic-one">Clínica Fantasia</option>
                    </select>
                </label>

                <label ng-class="{'hide': donateCtrl.newDonate.donateType !== 'donate'}" id="quantityDonate" class="col-sm-1 col-lg-1 col-xl-1 col-md-1">
                    <input ng-model="donateCtrl.newDonate.quantityDonate" name="quantityDonate" class="form-control"
                           placeholder="Qtd">
                </label>
                <label ng-class="{'hide': donateCtrl.newDonate.donateType !== 'donate'}" class="col-sm-4 col-lg-4 col-xl-4 col-md-4">
                    <select ng-model="donateCtrl.newDonate.clinicDonate"  name="clinicDonate" class="form-control">
                        <option value="">Selecione a clínica responsável</option>
                        <option value="clinic-one">Clínica Fantasia</option>
                    </select>
                </label>
                <div class="buttons col-md-12">
                    <button type="button" class="btn btn-save" ng-click="donateCtrl.validateDonate();">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Código</th>
        <th scope="col">Tipo</th>
        <th scope="col">Clínica</th>
        <th scope="col">Complexidade (Exames)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Consulta</td>
        <td>Clínica Volte a Sorrir</td>
        <td></td>
        <td class="icons">
            <a class="btn btn-sm button-edit " ng-click="donateCtrl.openModal('lg');" ><i class="fas fa-pencil-alt"></i></a>
            <a class="btn btn-sm button-trash"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Exames</td>
        <td>Consultório Gimenez</td>
        <td>Baixa</td>
        <td class="icons">
            <a class="btn btn-sm button-edit" ng-click="donateCtrl.openModal('lg');"><i class="fas fa-pencil-alt"></i></a>
            <a class="btn btn-sm button-trash"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    </tbody>
</table>