<link rel="stylesheet" href="View/specialist/specialist.css"/>
<div class="medic-register">
    <div class="card fast-acess bg-light">
        <h4 class="card-header">Cadastro de Especialista
            <a title="Minimizar"><i ng-class="{'fas fa-window-minimize': showForm, 'fas fa-plus': !showForm}" ng-init="showForm = true" ng-click="showForm = !showForm"class="fas fa-window-minimize"></i></a>
        </h4>
        <form class="medic-form" ng-show="showForm">
            <div class="row">
                <label class="col-md-6">
                    <input class="form-control input nome" type="text"
                           placeholder="Nome" name="nome">
                </label>
                <label class="col-md-6">
                    <input class="form-control input" type="text" placeholder="Sobrenome"
                           id="sobrenome" name="sobrenome">
                </label>
                <label class="col-md-6">
                    <input class="form-control input" type="text" placeholder="Email"
                           id="email" name="email">
                </label>
                <label class="col-md-3">
                    <input class="form-control input" type="text" placeholder="Telefone Fixo"
                           id="telefone" name="telefone">
                </label>
                <label class="col-md-3">
                    <input class="form-control input" type="text" placeholder="Celular"
                           id="Celular" name="Celular  ">
                </label>
                <label class="col-md-6">
                    <select class="form-control" name="conselho">
                        <option value="">Selecione o conselho</option>
                        <option value="CRM">CRM</option>
                        <option value="CRO">CRO</option>
                    </select>
                </label>
                <label class="col-md-6">
                    <input class="form-control input" type="text" placeholder="Nº do Conselho"
                           id="numeroConselho" name="numeroConselho">
                </label>
                <label class="col-md-6">
                    <select class="form-control" name="">
                        <option value="">Especialidade</option>
                        <option value="ALERGIA E IMUNOLOGIA">ALERGIA E IMUNOLOGIA</option>
                        <option value="ANESTESIOLOGIA ">ANESTESIOLOGIA</option>
                        <option value="CARDIOLOGIA">CARDIOLOGIA</option>
                        <option value="CIRURGIA CARDIOVASCULAR">CIRURGIA CARDIOVASCULAR</option>
                        <option value="CIRURGIA DE CABEÇA E PESCOÇO ">CIRURGIA DE CABEÇA E PESCOÇO</option>
                        <option value="CIRURGIA DO APARELHO DIGESTIVO/CIRURGIA GERAL/GASTROCIRURGIA">CIRURGIA DO
                            APARELHO DIGESTIVO/CIRURGIA GERAL/GASTROCIRURGIA
                        </option>
                        <option value="CIRURGIA DO TRAUMA">CIRURGIA DO TRAUMA</option>
                    </select>
                </label>
                <label class="col-md-6">
                    <select class="form-control" name="">
                        <option value="">Clínica</option>
                        <option value="1">Clíninca Curumim, Rua Doutor João Collin, 11, Joinville/SC</option>
                        <option value="2 ">Clínica Volte a Sorrir, Rua Jacob, 88, Joinville/SC</option>
                    </select>
                </label>
                <div class="buttons col-md-12" style="text-align:right;">
                    <input type="button" class="btn btn-cancel" value="Cancelar">
                    <input type="button" class="btn btn-save" value="Cadastrar">
                </div>
            </div>
        </form>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Especialidade</th>
            <th scope="col">Cidade</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>José Pereira Costa</td>
            <td>(47) 99655-8632</td>
            <td>Dentista</td>
            <td>Joinville</td>
            <td class="icons">
                <a class="btn btn-sm button-edit " ng-click="specialityCtrl.openModal('lg');"><i
                        class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-sm button-trash"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        </tbody>
    </table>