.specialist-register {
    float: right;
    margin-right: 3.5%;
    margin-right: 2%;
    width: 99.7%;
}

.specialist-add {
    padding: 30px !important;
}

.card-header {
    background-color: #1E3B2F;
    color: #85793C;
}

.inputs {
    margin-top: 5px;
}
