<link rel="stylesheet" href="View/specialist/specialist.css"/>
<div class="medic-register">
    <div class="card fast-acess bg-light">
        <h4 class="card-header">Cadastro de Especialista
            <a title="Minimizar"><i ng-class="{'fas fa-window-minimize': !changeIcon, 'fas fa-plus': changeIcon}"
                                    ng-init="changeIcon = true" ng-click="changeIcon = !changeIcon;"
                                    class="fas fa-plus"></i></a>
        </h4>
        <form class="specialist-form" name="specialistForm">
            <div class="specialist-add row" ng-show="!changeIcon">
                <div class="form-group col-md-6">
                    <input class="form-control input nome" type="text"
                          name="name"
                           ng-class="{'invalid':specialistForm.name.$invalid && specialistForm.name.$touched}"
                           ng-model="specialistCtrl.newSpecialist.name" required>
                    <label class="form-control-placeholder">Nome</label>
                </div>
                <div class="form-group col-md-6">
                    <input class="form-control input" type="text"
                           id="sobrenome" name="lastName"
                           ng-class="{'invalid':specialistForm.lastName.$invalid && specialistForm.lastName.$touched}"
                           ng-model="specialistCtrl.newSpecialist.lastName" required>
                    <label class="form-control-placeholder">Sobrenome</label>
                </div>
                <div class="form-group col-md-6">
                    <input class="form-control input" type="text"
                           id="email" name="email"
                           ng-class="{'invalid':specialistForm.email.$invalid && specialistForm.email.$touched}"
                           ng-model="specialistCtrl.newSpecialist.email" required>
                    <label class="form-control-placeholder">Email</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control input" type="text"
                           id="telefone" name="landLine"
                           ng-class="{'invalid':specialistForm.landLine.$invalid && specialistForm.landLine.$touched}"
                           ng-model="specialistCtrl.newSpecialist.landLine" required>
                    <label class="form-control-placeholder">Telefone Fixo</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control input" type="text"
                           id="Celular" name="celPhone"
                           ng-class="{'invalid':specialistForm.celPhone.$invalid && specialistForm.celPhone.$touched}"
                           ng-model="specialistCtrl.newSpecialist.celPhone" required>
                    <label class="form-control-placeholder">Celular</label>
                </div>
                <div class="form-group col-md-6">
                    <select class="form-control" name="advice"
                            ng-class="{'invalid':specialistForm.advice.$invalid && specialistForm.advice.$touched}"
                            ng-model="specialistCtrl.newSpecialist.advice" required>
                        <option value="">Selecione o conselho</option>
                        <option value="CRM">CRM</option>
                        <option value="CRO">CRO</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <input class="form-control input" type="text"
                           id="numeroConselho" name="adviceNumber"
                           ng-class="{'invalid':specialistForm.adviceNumber.$invalid && specialistForm.adviceNumber.$touched}"
                               ng-model="specialistCtrl.newSpecialist.adviceNumber" required>
                    <label class="form-control-placeholder">Nº do conselho</label>
                </div>
                <div class="form-group col-md-6">
                    <select class="form-control" name="speciality"
                            ng-class="{'invalid':specialistForm.speciality.$invalid && specialistForm.speciality.$touched}"
                            ng-model="specialistCtrl.newSpecialist.speciality" required>
                        <option value="">Especialidade</option>
                        <option value="ALERGIA E IMUNOLOGIA">ALERGIA E IMUNOLOGIA</option>
                        <option value="ANESTESIOLOGIA ">ANESTESIOLOGIA</option>
                        <option value="CARDIOLOGIA">CARDIOLOGIA</option>
                        <option value="CIRURGIA CARDIOVASCULAR">CIRURGIA CARDIOVASCULAR</option>
                        <option value="CIRURGIA DE CABEÇA E PESCOÇO ">CIRURGIA DE CABEÇA E PESCOÇO</option>
                        <option value="CIRURGIA DO APARELHO DIGESTIVO/CIRURGIA GERAL/GASTROCIRURGIA">CIRURGIA DO
                            APARELHO DIGESTIVO/CIRURGIA GERAL/GASTROCIRURGIA
                        </option>
                        <option value="CIRURGIA DO TRAUMA">CIRURGIA DO TRAUMA</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <select class="form-control" name="clinic"
                            ng-model="specialistCtrl.newSpecialist.clinic" required>
                        <option value="">Clínica</option>
                        <option value="1">Clíninca Curumim, Rua Doutor João Collin, 11, Joinville/SC</option>
                        <option value="2 ">Clínica Volte a Sorrir, Rua Jacob, 88, Joinville/SC</option>
                    </select>
                </div>
                <div class="buttons col-md-12">
                    <input type="button" class="btn btn-save" value="Cadastrar"
                           ng-click="specialistCtrl.validateSpecialistForm();">
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">Telefone</th>
        <th scope="col">Especialidade</th>
        <th scope="col">Cidade</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>José Pereira Costa</td>
        <td>(47) 99655-8632</td>
        <td>Dentista</td>
        <td>Joinville</td>
        <td class="icons">
            <a class="btn btn-sm button-edit " ng-click="specialistCtrl.openModal('lg');"><i
                    class="fas fa-pencil-alt"></i></a>
            <a class="btn btn-sm button-trash"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    </tbody>
</table>
