<div id="wrapper">
  <div class="overlay"></div>
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Projeto ReSOMAR
        </a>
      </li>
      <li>
        <a href="#">Início</a>
      </li>
      <li><a data-toggle="collapse" data-target="#submenu1" aria-expanded="false" href="#">Cadastros <span class="caret"></span></a>
        <ul class="nav collapse" id="submenu1" role="menu">
          <li><a href="#">Cursos</a></li>
          <li><a href="#">Turmas</a></li>
          <li><a href="#">Alunos</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Voucher</a>
      </li>
      <li>
        <a href="#">Relatórios</a>
      </li>
      <li>
        <a href="#">Configurações</a>
      </li>
    </ul>
  </nav>
  <div id="page-content-wrapper">
    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
  </div>
</div>